.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
}

.conditional {
  text-align: center;
  margin-top: 0px;
}

.nav-title {
  font-size: 55px;
  margin: 10px;
  margin-bottom: 0px;
  color: rgba(25, 4, 108)
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-information {
  display: flex;
  width: 100%;
  justify-content: space-between
}

.current-city,
.current-date,
.loading-data {
  font-size: 25px;
  font-style: italic;
  margin: 10px;
}

.loading-data-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.current-weather-container {
  background-color: rgba(255, 255, 255, 0.272);
  border: 15px solid rgba(25, 4, 108, 0.7);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 40px;
  text-align: center;
}

.loading-data {
  font-style: italic;
  font-size: 15px;
}

.home-button,
.daily-button,
.hourly-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: rgba(25, 4, 108);
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-button:hover,
.daily-button:hover,
.hourly-button:hover {
  transform: scale(1.1);
}

.current-weather-card,
.more-information,
input,
button {
  font-size: 20px;
}

.front-card-title {
  font-size: 35px;
  margin-bottom: 10px;
}

.form-input,
.form-button {
  padding: 8px;
  margin: 2px;
  font-size: 22px;
}

.loading-icon {
  height: 40px;
  width: 40px;
  margin: 20px;
}

button {
  cursor: pointer;
}

.form-button,
.more-info-buttons {
  background-color: rgb(228, 230, 241);
  color: rgb(0, 0, 0);
}

h3 {
  margin: 12px;
}

.city-options-container {
  margin-top: 20px;
}

.city-button {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.869);
  color: rgba(25, 4, 108);
}