.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.296);
}

.conditional {
  text-align: center;
  margin-top: 0px;
}

.conditional-container {
  margin-left: 0px;
}

.alert-container {
  display: flex;
}

.daily-card-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
}

.weather-alert {
  text-align: center;
  font-style:italic;
  color: rgb(0, 0, 0);
  padding: 5px;
}

.daily-small-container {
  width: fit-content;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 35px;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid rgba(25, 4, 108);
}

.nav-title {
  font-size: 55px;
  margin: 10px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255)
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-daily-info {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
}

h5 {
  margin: 5px;
}

.user-information {
  display: flex;
  width: 100%;
  justify-content: space-between
}

.current-city,
.current-date,
.loading-data {
  font-size: 25px;
  font-style: italic;
  margin: 10px;

}

.loading-data-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.current-weather-container {
  background-color: rgba(255, 255, 255, 0.4);
  border: 8px solid rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 40px;
  text-align: center;
}

.loading-data {
  font-style: italic;
  font-size: 15px;
}

.home-button,
.daily-button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-button:hover,
.daily-button:hover {
  transform: scale(1.5);
}

.current-weather-card,
.more-information,
input,
button {
  font-size: 25px;
}

.front-card-title {
  font-size: 35px;
  margin-bottom: 10px;
}

.daily-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input,
.form-button {
  padding: 10px;
  margin: 2px;
  border-radius: 20px;
  font-size: 25px;
  border-color: rgba(25, 4, 108);
}

.loading-icon {
  height: 40px;
  width: 40px;
  margin: 20px;
}

button {
  cursor: pointer;
}

.form-button,
.more-info-buttons {
  background-color: rgb(228, 230, 241);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.more-info-buttons {
  padding: 5px;
}

h3 {
  margin: 12px;
}

.city-options-container {
  margin-top: 20px;
}

.city-button {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.869);
  color: rgba(25, 4, 108);
}

.daily-forecast-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-style: italic
}

.daily-summary {
  font-size: 20px;
  font-style: italic
}

.daily-titles {
  margin: 0px;
}